[Unit]
Description=Generate rEFInd manual boot stanzas from btrfs snapshots
After=multi-user.target

[Service]
Type=simple
KillMode=mixed
KillSignal=SIGTERM
RestartKillSignal=SIGTERM
ExecStart=/usr/bin/python -m refind_btrfs --run-mode background

[Install]
WantedBy=multi-user.target
